<h1>Instructions</h1>

<% audio_files.each do |file| %>
  <div class="row">
    <div class="col-md-4">
      <div class='main-nav-button audio'><h2><%=file.title%></h2>
        <% if file.is_released?(current_participant) %>
          <audio src="<%=file.sound_file%>" data-id="<%=file.id%>" controls type="audio/mpeg" style="position:relative;bottom:-15px;">
            Your browser does not support the audio element.
          </audio>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {

    $('audio').on("click", function(){
      $.ajax({
        url: "<%= create_path %>.js",
        type: "POST",
        data: {"listening":{'relaxation_audio_id': $(this).data("id"), 'daily_relaxation_session_id': "<%=current_relaxation_session.id%>"}}
      });
    });
    $('.btn-primary').text('Exercise Complete');
  });
</script>