<h1>Instructions</h1>

<ul class="audio-list" style="list-style-type:none;">
<% audio_files.each do |file| %>
  <li>
      <table>
        <tr>
          <td style="width:300px;"><h2><%=file.title%><i class="icon-caret-right icon-2x" style="position:relative;bottom:-10px;"></i></h2></td>
          <td>
            <% if file.is_released?(current_participant) %>
              <audio src="<%=file.sound_file%>" data-id="<%=file.id%>" controls type="audio/mpeg" style="position:relative;bottom:-15px;">
                Your browser does not support the audio element.
              </audio>
            <% end %>
          </td>
        </tr>
      </table>
  </li>
<% end %>
</ul>

<script>
  $(document).ready(function() {

    $('audio').on("click", function(){
      $.ajax({
        url: "<%= create_path %>.js",
        type: "POST",
        data: {"listening":{'relaxation_audio_id': $(this).data("id"), 'daily_relaxation_session_id': "<%=current_relaxation_session.id%>"}}
      });
    });
  });
</script>