<h1>Please rate your feelings now that your group session has been completed.</h1>

<%= form_for group_session_mood_summary, url: update_path, :html => {:role => "form"} do |f| %>
  <div class="form-group">
    <div class="row form-labels">
      <div class="col-md-3 col-md-offset-3"><span class="form-label-text">Not at all</span></div>
      <div class="col-md-6"><span class="form-label-text">Extremely</span></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :post_anxious, "How anxious do you feel right now?" %>
      </div>
      <div class="col-md-9 radio-group">
        <% [ 0, 1, 2, 3, 4 ].each do |tag| %>
          <label class="radio-inline">
            <%=tag%><%= f.radio_button :post_anxious, tag%>
          </label>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :post_sad, "How sad or depressed do you feel right now?" %>
      </div>
      <div class="col-md-9 radio-group">
        <% [ 0, 1, 2, 3, 4 ].each do |tag| %>
          <label class="radio-inline">
            <%=tag%><%= f.radio_button :post_sad, tag%>
          </label>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :post_confused, "How confused do you feel right now?" %>
      </div>
      <div class="col-md-9 radio-group">
        <% [ 0, 1, 2, 3, 4 ].each do |tag| %>
          <label class="radio-inline">
            <%=tag%><%= f.radio_button :post_confused, tag%>
          </label>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :post_energy, "How energetic do you feel right now?" %>
      </div>
      <div class="col-md-9 radio-group">
        <% [ 0, 1, 2, 3, 4 ].each do |tag| %>
          <label class="radio-inline">
            <%=tag%><%= f.radio_button :post_energy, tag%>
          </label>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :post_fatigue, "How fatigued do you feel right now?" %>
      </div>
      <div class="col-md-9 radio-group">
        <% [ 0, 1, 2, 3, 4 ].each do |tag| %>
          <label class="radio-inline">
            <%=tag%><%= f.radio_button :post_fatigue, tag%>
          </label>
        <% end %>
      </div>
    </div>
    <%= f.hidden_field :id, :value => group_session_mood_summary.id %>
    <%= f.submit "Continue", :class => "form-control btn btn-primary btn-lg" %>
  </div>
<%end%>
