<h1>Please rate your feelings now that your group session has been completed.</h1>

<%= form_for group_session_mood_summary, url: update_path, :html => {:role => "form"} do |f| %>
<div class="form-group" style="background-color:white;padding:15px;border-radius:5px;">
    <div class="row form-labels">
      <div class="col-md-6">Not at all</div>
      <div class="col-md-6">Extremely</div>
    </div>
      <%= f.label :post_anxious, "How anxious do you feel right now?" %>
      <%= f.range_field :post_anxious, :in => 0..10, :step => '1', :id => 'post_anxious' %>
      <%= f.label :post_sad, "How sad or depressed do you feel right now?" %>
      <%= f.range_field :post_sad, :in => 0..10, :step => '1', :id => 'post_sad' %>
      <%= f.label :post_confused, "How confused do you feel right now?" %>
      <%= f.range_field :post_confused, :in => 0..10, :step => '1', :id => 'post_confused' %>
      <%= f.label :post_energy, "How energetic do you feel right now?" %>
      <%= f.range_field :post_energy, :in => 0..10, :step => '1', :id => 'post_energy' %>
      <%= f.label :post_fatigue, "How fatigued do you feel right now?" %>
      <%= f.hidden_field :id, :value => group_session_mood_summary.id %>
      <%= f.range_field :post_fatigue, :in => 0..10, :step => '1', :id => 'post_fatigue' %>
    <%= f.submit "Continue", :class => "form-control btn btn-primary" %>
  </div>
<%end%>
<script>
  $( document ).ready(function() {

    $.each($('[type="range"]'), function (index, el){

      $(el).ionRangeSlider({
        min:0,
        max:10,
        type:"single",
        step:1,
        hasGrid:true
      });

    });
  });
</script>
