<h1>Please rate your feelings before your group session. When you are done, you will be directed to your webex meeting.</h1>
<br>
<%= form_for GroupSessionMoodSummary.new, url: create_path, :html => {:role => "form"} do |f| %>
  <div class="form-group">
    <div class="row form-labels">
      <div class="col-md-3 col-md-offset-3"><span class="form-label-text">Not at all</span></div>
      <div class="col-md-6"><span class="form-label-text">Extremely</span></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :pre_anxious, "How anxious do you feel right now?" %>
      </div>
      <div class="col-md-9"> 
        <%= f.range_field :pre_anxious, :in => 0..10, :step => '.1', :id => 'pre_anxious' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :pre_sad, "How sad or depressed do you feel right now?" %>
      </div>
      <div class="col-md-9"> 
        <%= f.range_field :pre_sad, :in => 0..10, :step => '.1', :id => 'pre_sad' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :pre_confused, "How confused do you feel right now?" %>
      </div>
      <div class="col-md-9"> 
        <%= f.range_field :pre_confused, :in => 0..10, :step => '.1', :id => 'pre_confused' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :pre_energy, "How energetic do you feel right now?" %>
      </div>
      <div class="col-md-9"> 
        <%= f.range_field :pre_energy, :in => 0..10, :step => '.1', :id => 'pre_energy' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :pre_fatigue, "How fatigued do you feel right now?" %>
      </div>
      <div class="col-md-9"> 
        <%= f.range_field :pre_fatigue, :in => 0..10, :step => '.1', :id => 'pre_fatigue' %>
      </div>
    </div>
    <%= f.submit "Go to your webex session", :class => "form-control btn btn-primary btn-lg" %>
  </div>
<%end%>
<script>
  $( document ).ready(function() {

    $.each($('[type="range"]'), function (index, el){

      customSlider($(el));

    });
    $('[name="commit"]').on('click', function(){
  
      window.open("<%= Webex.next_webex_session %>")

    });
  });
</script>