<h1>Please rate your feelings now that your group session has been completed.</h1>

<%= form_for group_session_mood_summary, url: update_path, :html => {:role => "form"} do |f| %>
  <div class="form-group">
    <div class="row form-labels">
      <div class="col-md-3 col-md-offset-3"><span class="form-label-text">Not at all</span></div>
      <div class="col-md-6"><span class="form-label-text">Extremely</span></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :post_anxious, "How anxious do you feel right now?" %>
      </div>
      <div class="col-md-9"> 
        <%= f.range_field :post_anxious, :in => 0..10, :step => '.1', :id => 'post_anxious' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :post_sad, "How sad or depressed do you feel right now?" %>
      </div>
      <div class="col-md-9"> 
        <%= f.range_field :post_sad, :in => 0..10, :step => '.1', :id => 'post_sad' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :post_confused, "How confused do you feel right now?" %>
      </div>
      <div class="col-md-9"> 
        <%= f.range_field :post_confused, :in => 0..10, :step => '.1', :id => 'post_confused' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :post_energy, "How energetic do you feel right now?" %>
      </div>
      <div class="col-md-9"> 
        <%= f.range_field :post_energy, :in => 0..10, :step => '.1', :id => 'post_energy' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :post_fatigue, "How fatigued do you feel right now?" %>
      </div>
      <div class="col-md-9"> 
        <%= f.range_field :post_fatigue, :in => 0..10, :step => '.1', :id => 'post_fatigue' %>
      </div>
    </div>
    <%= f.hidden_field :id, :value => group_session_mood_summary.id %>
    <%= f.submit "Continue", :class => "form-control btn btn-primary" %>
  </div>
<%end%>
<script>
  $( document ).ready(function() {

    $.each($('[type="range"]'), function (index, el){

      customSlider($(el));

    });
  });
</script>
