<!DOCTYPE html>
<html>
  <head>
    <title>Lutgendorf</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="container" id="main-layout">
    <nav class="navbar navbar-default">
      
      <%= render 'shared/home' %>
      <% if @navigator.context == 'home' %>
        <%= render 'shared/welcome_message' %>
      <%end%>
      <%= render 'shared/authentication' %>
    </nav>

      <%= yield %>
          
    </div>


    <%= render 'shared/footer' %>
  </body>
</html>
